# Base de données MySQL (locale ou distante)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=codealpha_chatbot
DB_PORT=3306

# Configuration Flask
FLASK_SECRET_KEY=votre_cle_secrete_ici
FLASK_DEBUG=True

# Google Gemini AI & Recherche Web
GEMINI_API_KEY=votre_cle_gemini_ici
GEMINI_MODEL=gemini-3.6-flash
